<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">VelibMap <i class="fa fa-bicycle fa-x" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
  