
<!--
<div *ngIf="!interestPoints.length == 0" class=" container">
<table class="table table-dark table-hover ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Adresse</th>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let interestPoint of interestPoints; let i=index">
        <th scope="row"> {{interestPoint.id}} </th>
        <td> {{interestPoint.name}} </td>
        <td> {{interestPoint.description}} </td>
        <td> {{interestPoint.category.name}} </td>
        <td> {{interestPoint.address.name}} </td>
        <td> {{interestPoint.address.longitude}} </td>
        <td> {{interestPoint.address.latitude}} </td>
      </tr>
    </tbody>
  </table>
</div>
-->

<div class="container-fluid row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="category">
        Catégorie
      </label>
      <select (change)="changeCategory()" [(ngModel)]="categorySelected" class="form-control">
        <option value="all">
          Toutes
        </option>
        <option *ngFor="let category of categories" [value]="category.name">
          {{category.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="department">
        Département
      </label>
      <select (change)="changeDepartment()" [(ngModel)]="departmentSelected" class="form-control">
        <option selected value="all">
          Tous
        </option>
        <option *ngFor="let department of departments" [value]="department.name">
          {{department.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
      <div class="form-group">
        <label for="city">
          Ville
        </label>
        <select (change)="changeCity()" [(ngModel)]="citySelected" class="form-control">
          <option selected value="all">
            Toutes
          </option>
          <option *ngFor="let city of cities" [value]="city.name">
            {{city.name}}
          </option>
        </select>
      </div>
    </div>
</div>









<div class="container">
  <agm-map *ngIf="!interestPoints.length == 0" [latitude]="44.42985726539724" [longitude]="5.9490966796875" [zoom]="8" (mapClick)="onChooseLocation($event)">
    <agm-marker *ngFor="let interestPoint of interestPoints" [latitude]="interestPoint.address.latitude" [longitude]="interestPoint.address.longitude"
      [iconUrl]="iconurl">
      <agm-info-window>
        <p>
          <strong>{{interestPoint.name}}</strong>
        </p>
        <p><i class="fa fa-comment" aria-hidden="true"></i>&nbsp; {{interestPoint.description }} </p>
        <p><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp; {{ interestPoint.address.name }} {{interestPoint.address.postalCode}} {{interestPoint.address.city.name}} </p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>


<div *ngIf="interestPoints.length == 0 && activeFilter" class="container jumbotron2 text-center">
    <h1 class="display-3">Aucun POI correspondant à la recherche !!
      <i class="fab fa-accessible-icon"></i>
    </h1>
  </div>