<div class="margin_top container">
  <div class="col-md-4">
    <div class="form-group">
      <label for="category">
          <i class="fa fa-book" aria-hidden="true"></i>&nbsp;Catégorie
      </label>
      <select (change)="changeCategory()" [(ngModel)]="categorySelected" class="form-control">
        <option value="all">
          Toutes
        </option>
        <option *ngFor="let category of categories" [value]="category.name">
          {{category.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="department">
          <i class="fa fa-building" aria-hidden="true"></i>&nbsp;Département
      </label>
      <select (change)="changeDepartment()" [(ngModel)]="departmentSelected" class="form-control">
        <option value="all">
          Tous
        </option>
        <option *ngFor="let department of departments" [value]="department.name">
            ({{department.number}}) {{department.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
      <div class="form-group">
        <label for="city">
            <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Ville
        </label>
        <select (change)="changeCity()" [(ngModel)]="citySelected" class="form-control">
          <option value="all">
            Toutes
          </option>
          <option *ngFor="let city of cities" [value]="city.name">
            {{city.name}}
          </option>
        </select>
      </div>
    </div>
</div>

<div class="container">
  <agm-map *ngIf="!interestPoints.length == 0" [latitude]="44.42985726539724" [longitude]="5.9490966796875" [zoom]="8">
    <agm-marker *ngFor="let interestPoint of interestPoints" [latitude]="interestPoint.address.latitude" [longitude]="interestPoint.address.longitude">
      <agm-info-window>
        <p>
          <strong>{{interestPoint.name}}</strong>
        </p>
        <p *ngIf="!interestPoint.description == ''"><i class="fa fa-comment" aria-hidden="true"></i>&nbsp; {{interestPoint.description }} </p>
        <p><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp; {{ interestPoint.address.name }} {{interestPoint.address.postalCode}} {{interestPoint.address.city.name}} </p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>


<div *ngIf="interestPoints.length == 0 && activeFilter" class="container jumbotron2 text-center">
  <p><i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i></p>
    <h1 class="display-3">Aucun POI correspondant à la recherche !!
    </h1>
  </div>