<div *ngIf="!interestPoints.length == 0" class="jumbotron text-center">
    <h1 class="display-3">Projet C# 2018<i class="fab fa-accessible-icon"></i>
      </h1>
     <p class="lead">Les points d'intérêts !&nbsp;<i class="fa fa-flag" aria-hidden="true"></i></p>
    </div>

<div *ngIf="!interestPoints.length == 0" class=" container">
<table class="table table-dark table-hover ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Adresse</th>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let interestPoint of interestPoints; let i=index" (click)="chooseContrat()">
        <th scope="row"> {{interestPoint.id}} </th>
        <td> {{interestPoint.name}} </td>
        <td> {{interestPoint.description}} </td>
        <td> {{interestPoint.category.name}} </td>
        <td> {{interestPoint.address.name}} </td>
        <td> {{interestPoint.address.longitude}} </td>
        <td> {{interestPoint.address.latitude}} </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid">
  <agm-map *ngIf="!interestPoints.length == 0" [latitude]="interestPoints[0].address.latitude" [longitude]="interestPoints[0].address.longitude" [zoom]="14" (mapClick)="onChooseLocation($event)">
      <agm-marker *ngFor="let interestPoint of interestPoints" [latitude]= "interestPoint.address.latitude" [longitude]= "interestPoint.address.longitude" [iconUrl]="iconurl">
          <agm-info-window>
            <p> <strong>{{interestPoint.name}}</strong></p>
            <p> {{interestPoint.description }} </p>
            <p> {{ interestPoint.address.name }}, {{interestPoint.address.postalCode}} {{interestPoint.address.city.name}} </p>
          </agm-info-window>
      </agm-marker>
    </agm-map>
</div>

