.jumbotron {
    background-color: #81dcf7;
    color: #555555;
    
  }
.jumbotron2 {

    color: #555555;
    height: 800px;
  }
  
.margin_top{
  margin-top: 20px;
}
  
.table td {
    text-align: center;   
    width:65px;
 }
 
.table th {
  text-align: center;   
  width:55px;
}

agm-map {
  height: 800px;
  /*width: 1000px;*/
}

.btn {
  width: 250px;
}

.style1 {
  padding-left: 100px;
}

.style2 {
  padding-bottom: 50px;
}